.type-34{
    .forecast{
        font-size: 17px;
        .imgforecast_pod{
        
            overflow: hidden;
    
            img{
                padding-top:5px ;
                width: 100%; 
                transition: transform .3s cubic-bezier(.35,.37,.75,.75),-webkit-transform .3s cubic-bezier(.35,.37,.75,.75);
                will-change: transform;
                height: auto;
            }:hover{
                transform: scale(1.05);
            }
            
        }
        .dayofbirthfore{
            margin-top: 30px;
        }
         .one-one{
            margin:0 0 20px 0;
            @media (min-width: 320px){
                margin-top: 280px;
            }
            @media (min-width: 360px){
                margin-top: 300px;
            }
            @media (min-width: 768px){
                margin-top: 500px;
            }
            @media (min-width: 1024px){
                margin-top: 700px;
            }
            @media (min-width: 1200px){
                margin-top: 750px;
            }
            a{
                font-size: 15px;
                font-family: 'roboto';
                text-decoration: none;
                color:#16d5cc ;

            }:hover{
                color: #16d5cc;
            }
        }
        .podcast{
            h2{
                margin: 20px 0 20px 0;
                a{
                    color: #000;
                    text-decoration: none;
                    font-family: inherit;
                    @media (min-width: 320px){
                        font-size: 15px;
                    }
                    
                }
            }
            p{
                color: #858585;
                @media (min-width: 320px){
                    font-size: 11px;
                }
                @media (min-width: 768px){
                    font-size: 18px;
                }
            }
        }
        .iconShare{
            overflow: hidden;
            .lisxetom{
                display: flex;
                justify-content: space-between;
                .btnreadmore{
                    display: flex;
                    position: relative;
                    transition: all .3s;
                    &:hover{
                        margin-left: 22px;
                    }
                    .iconfonttawesome{
                       margin-right: 15px;
                       position: absolute;
                       top: 2px;
                       left: -20px;
                       color:  #16d5cc;
                    }
                    .readmorepod{
                       
                        a{
                            font-family: "Josefin Sans",sans-serif;
                            font-size: 12px;
                            color: #000;
                            font-weight: 700;
                            text-decoration: none;
                        }
                    }
                }
                .listItem{
                    .shareIconFace{
                        font-family: "Josefin Sans",sans-serif;
                        font-size: 12px;
                        font-weight: 700;
                        margin-left:90px;
                        .fab{
                            margin-left: 5px;
                        }
        
                    }
                }

            }
            
        }
        .learnHouse{
            margin: 80px 0;
            .boldLearnhouse{
                display: flex;
                background-color: #F7F6F6;
                justify-content: space-between;
                //been dai ben ngan thi can giua
                align-items: center;
                padding: 40px 0 ;
                .textLearnHouse{
                    h2{
                        a{
                            color: #000;
                           letter-spacing: 1px;
                           font-family: inherit;
                           font-size: 35px;
                           margin-left: 70px;
                           text-decoration: none;
                           @media (max-width: 360px) {
                               font-size: 15px;
                               letter-spacing: normal;
                               margin-left: 0px;
                            
                           }
                           @media (min-width:768px) {
                            margin-left: 0px;
                            }
                           @media (min-width:1024px) {
                            margin-left: 0px;
                            }
                        }
                    }
                }
                .imageLearn{
                    .fas{
                        font-size: 170px;
                        opacity: .1;
                        transform: rotate(90deg);
                        @media (max-width: 360px) {
                            font-size: 70px;
                        }
                    }
                }
            }
        }
        .videoViewLean {
            position: relative;
            .fluidvids-item{
                position: absolute;
                width: 100% !important;
                top: 0%;
                height: 600px;
                @media (min-width: 320px) {
                    height: 186px;
                }
                @media (min-width: 360px) {
                    height: 186px;
                }
                @media (min-width: 411px) {
                    height: 212px;
                }
                @media (min-width: 768px) {
                    height: 384px;
                }
                @media (min-width: 1024px) {
                    height: 600px;
                }
                @media (min-width: 1024px) {
                    height: 620px;
                }
            }
        }
    }
           
}


@media (min-with: 360px){
}
@media (min-with: 576px){
}
@media (min-with: 768px){
    
}
@media (min-with: 992px){
    
}
@media (min-with: 1200px){
    
}