.type-9 .surfing-avili {
  margin-top: 100px;
  text-align: center;
}
.type-9 .surfing-avili h1 {
  font-family: source sans pro, sans-serif;
  letter-spacing: .5px;
}
.type-9 .surfing-avili .gubergren {
  padding: 0 180px;
  color: #858585;
  font-family: source sans pro, sans-serif;
  margin-top: 30px;
  letter-spacing: 1.5px;
}
@media (min-width: 320px) {
  .type-9 .surfing-avili .gubergren {
    padding: 0;
  }
}
.type-9 .surfing-avili .inter-media {
  margin: 30px 0 50px 0;
}
.type-9 .surfing-avili .inter-media .row {
  font-family: source sans pro, sans-serif;
}
.type-9 .surfing-avili .inter-media .row .col-md-6 .text-new-supper h4 {
  font-size: 16px;
  font-weight: bold;
}
.type-9 .surfing-avili .inter-media .row .col-md-6 .text-new-supper p {
  color: #858585;
}
@media (min-width: 320px) {
  .type-9 .surfing-avili .inter-media .row .col-md-6 {
    margin: 50px 0;
  }
  .type-9 .surfing-avili .inter-media .row .col-md-6 p {
    padding: 0 20px;
  }
}
