.type-1 {
  background: url("../images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 625px;
}
.type-1 a {
  text-decoration: none;
}
.type-1 .img-banner2 {
  position: absolute;
  top: 15px;
  left: 55%;
}
.type-1 .img-banner2 img {
  width: 80%;
}
.type-1 .img-banner1 {
  position: absolute;
  top: calc(12%);
  left: calc(50%);
  z-index: 2;
}
.type-1 .img-banner1 img {
  opacity: 0;
  animation: btn 0.5s ease-in 0.5s forwards;
}
.type-1 .btn-header {
  position: fixed;
  bottom: 10%;
  right: 0;
  opacity: 0;
  animation: btnHeader 0.5s linear 1s forwards;
  z-index: 5;
}
.type-1 .btn-header .button-header1 {
  background: #ef2853;
  color: #fff;
  box-shadow: 0 0 5px #858585;
  border: none;
  outline: none;
  padding: 7px 11px 7px 12px;
  font-size: 13px;
  margin-bottom: 10px;
}
.type-1 .btn-header .button-header1 span {
  padding-right: 5px;
  line-height: 25px;
}
.type-1 .btn-header .button-header1 span i {
  font-size: 20px;
}
.type-1 .btn-header .button-header2 {
  padding: 7px 6px;
  background: #fff;
  font-size: 13px;
  outline: none;
  border: none;
  box-shadow: 0 0 5px #858585;
  color: #ef2853;
}
.type-1 .btn-header .button-header2 span {
  padding-right: 5px;
  line-height: 25px;
}
.type-1 .btn-header .button-header2 span i {
  font-size: 20px;
}
.close-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: 0.5s;
}
.sidenav .bg-sidenav {
  background: url("../images/sidebar.png");
  background-position-y: -260px;
  background-position-x: -15px;
  height: 100%;
  position: relative;
}
.sidenav .nav-heading {
  position: relative;
  padding: 50px 60px 120px 60px;
}
.sidenav .nav-heading img {
  width: 90px;
}
.sidenav .nav-heading a {
  float: right;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
  font-size: 25px;
}
.sidenav .contact-side {
  position: relative;
}
.sidenav .contact-side .contact-padding {
  padding: 0 60px;
}
.sidenav .contact-side .contact-color {
  color: #858585;
}
.sidenav .contact-side .svg-contact {
  z-index: 4;
}
.sidenav .contact-side svg {
  position: absolute;
  top: 80%;
  background-position: 100px -100px;
}
.sidenav .contact-side svg path {
  fill: #efefef;
}
.section-slider {
  z-index: 4;
}
.owl-carousel .owl-item img {
  width: calc(49%) !important;
  margin: 0 auto;
}
.hero-items .single-hero-items h1 {
  position: relative;
  left: 50px;
  opacity: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 30px;
}
.hero-items .single-hero-items p {
  color: #0de9df;
  position: relative;
  left: 100px;
  opacity: 0;
}
.hero-items .single-hero-items .descrition-slider {
  color: #858585;
  padding-top: 5px;
}
.hero-items .single-hero-items .surf {
  margin-top: 25px;
  position: relative;
  text-transform: uppercase;
  left: 50px;
  opacity: 0;
}
.hero-items .single-hero-items .surf1 {
  opacity: 0;
  left: 50px;
  position: relative;
}
.hero-items .single-hero-items .surr {
  opacity: 0;
  left: 50px;
  margin-top: 20px;
  position: relative;
}
.hero-items .single-hero-items .surr1 {
  opacity: 0;
}
.hero-items .single-hero-items .primary-btn {
  position: relative;
  left: 100px;
  opacity: 0;
  text-decoration: none;
  background: #0de9df;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
}
.hero-items .owl-item.active .single-hero-items h1,
.hero-items .owl-item.active .single-hero-items p,
.hero-items .owl-item.active .single-hero-items .surf,
.hero-items .owl-item.active .single-hero-items .surr,
.hero-items .owl-item.active .single-hero-items .surf1,
.hero-items .owl-item.active .single-hero-items .primary-btn {
  left: 0;
  opacity: 1;
}
.hero-items .owl-item.active .single-hero-items h1 {
  transition: all 0.4s ease 0.2s;
}
.hero-items .owl-item.active .single-hero-items p {
  transition: all 0.5s ease 0.3s;
}
.hero-items .owl-item.active .single-hero-items .primary-btn {
  transition: all 0.6s ease 0.4s;
}
.hero-items .owl-item.active .single-hero-items .surf {
  transition: all 0.7s ease 0.5s;
}
.hero-items .owl-item.active .single-hero-items .surf1 {
  transition: all 0.8s ease 0.5s;
}
.hero-items .owl-item.active .single-hero-items .surr {
  transition: all 2s ease 0.3s;
}
.hero-items .owl-item.active .single-hero-items .surr1 {
  animation: btnHeader 0.5s linear 1s forwards;
}
.owl-dots {
  position: relative;
  outline: none;
}
.owl-dot {
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  border: none;
  border: 5px solid white;
  box-shadow: 3px 4px 19.95px 1.05px rgba(0,0,0,0.05);
}
.owl-dot::before {
  content: "";
  width: 250px;
  height: 50px;
  border-radius: 50%;
}
.owl-dot:nth-child(1) {
  top: -250px;
  background: #0de9df;
}
.owl-dot:nth-child(2) {
  top: -220px;
  background: #ffb434;
}
.owl-dot:nth-child(3) {
  top: -190px;
  background: #0de9df;
}
.owl-dot.active {
  border: 5px solid #efefef;
}
.owl-next,
.owl-prev {
  display: none;
}
.qodef-side-menu-button-opener {
  position: relative;
  z-index: 2;
  float: right;
  vertical-align: middle;
  color: #fff;
  margin-left: 50px;
  background-color: #0de9df;
  border-radius: 100%;
  padding: 15px 22px 15px 16px;
}
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path
  .qodef-side-menu-icon
  > * {
  vertical-align: middle;
}
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path
  .qodef-side-menu-icon
  path,
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path
  .qodef-side-menu-icon
  > * {
  fill: currentColor;
  stroke: none;
}
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path
  .qodef-side-menu-icon
  .qodef-side-area-svg-icon
  path {
  fill: none;
  stroke: #fff;
  stroke-dashoffset: 0;
  stroke-dasharray: 19;
  -webkit-transition: stroke-dashoffset 0.4s cubic-bezier(0.25,0.46,0.45,0.94);
  -o-transition: stroke-dashoffset 0.4s cubic-bezier(0.25,0.46,0.45,0.94);
  transition: stroke-dashoffset 0.4s cubic-bezier(0.25,0.46,0.45,0.94);
}
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path:hover
  .qodef-side-menu-icon
  .qodef-side-area-svg-icon
  path {
  stroke-dashoffset: -38;
}
.close-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000 !important;
  background-color: #fff;
  transition: 0.5s;
}
.sidenav .bg-sidenav {
  background: url("../images/sidebar.png");
  background-position-y: -260px;
  background-position-x: -15px;
  height: 100%;
  position: relative;
}
.sidenav .nav-heading {
  position: relative;
  padding: 50px 60px 120px 60px;
}
.sidenav .nav-heading img {
  width: 90px;
}
.sidenav .nav-heading a {
  float: right;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
  font-size: 25px;
}
.sidenav .contact-side {
  position: relative;
}
.sidenav .contact-side .contact-padding {
  padding: 0 60px;
}
.sidenav .contact-side .contact-color {
  color: #858585;
}
.sidenav .contact-side .svg-contact {
  z-index: 4;
}
.sidenav .contact-side svg {
  position: absolute;
  top: 80%;
  background-position: 100px -100px;
}
.sidenav .contact-side svg path {
  fill: #efefef;
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btnHeader {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.navbar-custom {
  padding: 10px 40px;
}
.navbar-custom .logo img,
.navbar-custom .logo2 img {
  width: 100px;
}
.navbar-custom .logo2 {
  display: none;
}
.navbar-custom .nav-menu a {
  display: block;
  position: relative;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
.navbar-custom .nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-custom .nav-menu > ul {
  display: flex;
}
.navbar-custom .nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 29px 10px 29px;
}
.d-lg-block {
  z-index: 100 !important;
}
.nav-menu .nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #0de9df;
}
.nav-menu .drop-down ul {
  border-radius: 8px;
  display: block;
  position: absolute;
  left: 14px;
  top: calc(130%);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127,137,161,0.25);
  transition: 0.3s;
}
.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.nav-menu .drop-down li {
  min-width: 180px;
  margin: 10px 0;
  position: relative;
}
.nav-menu .drop-down ul a {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0c3c53;
}
.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #0de9df;
}
.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(70%);
}
.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: -15px;
  left: 100%;
}
.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}
.nav-menu .drop-down .drop-down > a:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 15px;
}
.mobile-nav-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i.fa-bars {
  color: #fff;
  border-radius: 50%;
  padding: 15px 15px;
  background: #0de9df;
}
.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #37517e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}
.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #47b2e4;
  text-decoration: none;
}
.mobile-nav .drop-down > a:after {
  font-family: "FontAwesome";
  content: "\f107";
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
.mobile-nav .active.drop-down > a:after {
  font-family: "FontAwesome";
  content: "\f106";
}
.mobile-nav .drop-down > a {
  padding-right: 35px;
}
.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}
.mobile-nav .drop-down li {
  padding-left: 20px;
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40,58,90,0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
@media (max-width: 991px) {
  .qodef-side-menu-button-opener {
    display: none !important;
  }
  .img-wave {
    display: none !important;
  }
  .navbar-custom {
    padding: 0 40px;
    background: #fff;
  }
  .navbar-custom .logo {
    display: none;
  }
  .navbar-custom .logo2 {
    display: block;
  }
}
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    font-family: "FontAwesome";
    content: "\f107";
  }
}
