.type-31 {
  margin: 50px 0;
}
.type-31 .swiper-slide img {
  width: 100%;
}
.type-31 .swiper-button-next {
  margin-right: 20px;
}
.type-31 .swiper-button-prev {
  margin-left: 20px;
}
.type-31 .surfing .span-surfing {
  margin: 20px 0;
  font-size: 14px;
  cursor: pointer;
  color: #0de9df;
}
.type-31 .surfing p {
  color: #858585;
}
.type-31 .surfing h1 {
  cursor: pointer;
  letter-spacing: 2px;
}
.type-31 .surfing .end-component {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.type-31 .surfing .end-component .icon {
  color: #000;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  transform: translateX(-17px);
  transition: 0.3s linear;
}
.type-31 .surfing .end-component .icon:hover {
  transform: translateX(0);
}
.type-31 .surfing .end-component a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.type-31 .surfing .end-component a .fa {
  margin-left: 10px;
}
.type-31 .surfing .end-component a .fa:hover {
  color: #0de9df;
}
.type-31 .ourblog .iframe-blog {
  width: 100%;
  height: 460px;
}
.type-31 .ourblog .thumbnail {
  border: none;
  display: block;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  transition: border 1s ease-in-out;
  overflow: hidden;
}
.type-31 .ourblog .thumbnail img {
  transition-duration: 0.5s;
  width: 100%;
}
.type-31 .ourblog .thumbnail img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.type-31 .announcing {
  margin: 100px 0;
  position: relative;
  background: #ffb434;
  padding: 80px 70px;
  color: #fff;
}
.type-31 .announcing h2 {
  margin-right: 33%;
  letter-spacing: 3px;
}
.type-31 .announcing .qodef-post-mark {
  position: absolute;
  width: 200px;
  right: 20px;
  bottom: 20px;
}
.type-31 .announcing .qodef-post-mark svg path {
  fill: #f5aa29;
}
.type-31 .announcing2 {
  margin: 100px 0;
  position: relative;
  background: #f7f6f6;
  padding: 80px 70px;
}
.type-31 .announcing2 h2 {
  margin-right: 33%;
  letter-spacing: 3px;
}
.type-31 .announcing2 .qodef-post-mark {
  position: absolute;
  width: 200px;
  right: 0;
  bottom: 0;
}
.type-31 .announcing2 .qodef-post-mark svg path {
  fill: #e9e9e9;
}
.type-31 .video111 {
  margin-top: 70px;
}
.type-31 .paginations {
  margin: 100px 0;
  text-align: center;
}
.type-31 .paginations ul li {
  display: inline-block;
  list-style: none;
}
.type-31 .paginations ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.type-31 .paginations ul li a:hover {
  color: #0de9df;
}
.type-31 .paginations ul li.active a {
  color: #0de9df;
}
.type-31 .paginations ul li.range2 {
  margin-left: 10px;
  margin-right: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .type-31 .announcing h2 {
    margin-right: 20%;
  }
  .type-31 .ourblog .iframe-blog {
    width: 100%;
    height: 390px;
  }
}
@media screen and (max-width: 767px) {
  .type-31 .announcing {
    padding: 50px 30px;
  }
  .type-31 .announcing h2 {
    margin-right: 0;
  }
  .type-31 .ourblog .iframe-blog {
    width: 100%;
    height: 290px;
  }
}
@media screen and (max-width: 575px) {
  .type-31 .ourblog .iframe-blog {
    width: 90%;
    height: 250px;
  }
}
