.type-40 .wave-top {
  position: relative;
}
.type-40 .wave-top .img-top-wave img {
  height: 100%;
  width: 100%;
}
.type-40 .wave-top .img-logo {
  position: absolute;
  top: 8%;
  left: 5%;
}
.type-40 .wave-top .img-logo img {
  height: 90px;
  width: 90px;
}
.type-40 .wave-top .img-lie-svg {
  position: absolute;
  content: "";
  top: 60%;
}
.type-40 .wave-top .img-lie-svg img {
  width: 100%;
}
.type-40 .wave-top .btn-purchase {
  position: absolute;
  left: 83%;
  top: 11%;
}
.type-40 .wave-top .btn-purchase .add_to_cart {
  position: relative;
  padding: 12px 50px;
  color: #fff;
  background-color: #0de9df;
  border: 2px solid #12DEF6;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  z-index: 3;
  margin-left: 30px;
  overflow: hidden;
  border-radius: 0;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 18px;
}
.type-40 .wave-top .btn-purchase .add_to_cart:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 515px;
  height: 126px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='172px' height='126px' viewBox='0 0 172 125.7' enable-background='0 0 172 125.7' xml:space='preserve' %3E%3Cpath fill='%230de3d9' d='M173,22.7c-33.9,0-44.7-14.1-88.4-14.1c-43.6,0-54.5,14.1-86,14.1V126l174.4-0.3C173,125.7,173,28.7,173,22.7z'/%3E%3C/svg%3E");
  background-repeat: round;
  z-index: -1;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(.25,.46,.45,.94);
  transition: -webkit-transform 1s cubic-bezier(.25,.46,.45,.94);
  -o-transition: transform 1s cubic-bezier(.25,.46,.45,.94);
  transition: transform 1s cubic-bezier(.25,.46,.45,.94);
  transition: transform 1s cubic-bezier(.25,.46,.45,.94), -webkit-transform 1s cubic-bezier(.25,.46,.45,.94);
}
.type-40 .wave-top .btn-purchase .add_to_cart:hover:after {
  -webkit-transform: translateY(35%);
  -ms-transform: translateY(35%);
  transform: translateY(35%);
  -webkit-animation: auto-wave 7.5s cubic-bezier(.36,.45,.63,.53) infinite;
  animation: auto-wave 7.5s cubic-bezier(.36,.45,.63,.53) infinite;
}
.type-40 .wave-top .btn-purchase .add_to_cart:hover {
  color: #fff;
  background-color: #0de9df;
  border-color: none;
}
@media (max-width: 360px) {
  .type-40 .wave-top .btn-purchase .add_to_cart {
    margin-left: -100px;
    padding: 6px 12px;
  }
}
@media (max-width: 768px) {
  .type-40 .wave-top .btn-purchase .add_to_cart {
    margin-left: -90px;
  }
}
.type-40 .text-ride {
  position: relative;
}
.type-40 .text-ride .text-smoothest {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.type-40 .text-ride .text-smoothest h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: .08em;
}
.type-40 .text-ride .text-smoothest p {
  max-width: 500px;
  margin: 15px auto 10px;
  color: #858585;
  font-size: 18px;
}
.type-40 .text-ride .wave-theme {
  position: relative;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop {
  margin-top: 80px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop .surfing-Home img {
  width: 100%;
  height: auto;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop .number-text-shf {
  margin-bottom: 50px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop .number-text-shf h3 {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 3px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop .number-text-shf img {
  position: absolute;
  content: "";
  transform: rotate(10deg);
  max-height: 8%;
  top: 90%;
  left: 5%;
  z-index: 1;
}
@media (max-width: 360px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop .number-text-shf img {
    top: 100%;
    left: 5%;
  }
}
@media (max-width: 768px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .theme-shop .number-text-shf img {
    top: 91%;
    left: 5%;
  }
}
.type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home {
  margin-top: 150px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home .surfing-Home-short img {
  width: 100%;
  height: auto;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home .number-text-shh {
  margin-bottom: 30px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home .number-text-shh h3 {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 3px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home .number-text-shh img {
  position: absolute;
  content: "";
  transform: rotate(10deg);
  max-height: 8%;
  top: 83%;
  left: 5%;
  z-index: 1;
}
@media (max-width: 360px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home .number-text-shh img {
    top: 93%;
    left: 5%;
  }
}
@media (max-width: 768px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .shop-Home .number-text-shh img {
    top: 86%;
    left: 5%;
  }
}
.type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop {
  margin-top: 80px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop .board-home img {
  width: 100%;
  height: auto;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop .number-text-shfa {
  margin-bottom: 50px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop .number-text-shfa h3 {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 3px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop .number-text-shfa img {
  position: absolute;
  content: "";
  transform: rotate(10deg);
  max-height: 8%;
  top: 84%;
  left: 5%;
  z-index: 1;
}
@media (max-width: 360px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop .number-text-shfa img {
    top: 91%;
    left: 5%;
  }
}
@media (max-width: 768px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .wave-theme-shop .number-text-shfa img {
    top: 89%;
    left: 5%;
  }
}
.type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home {
  margin-bottom: 30px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home .surfing-Home-shor img {
  width: 100%;
  height: auto;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home .number-text-h {
  margin-bottom: 20px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home .number-text-h h3 {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 3px;
}
.type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home .number-text-h img {
  position: absolute;
  content: "";
  transform: rotate(10deg);
  max-height: 8%;
  top: 97%;
  left: 5%;
  z-index: 1;
}
@media (max-width: 360px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home .number-text-h img {
    top: 95%;
    left: 5%;
  }
}
@media (max-width: 768px) {
  .type-40 .text-ride .wave-theme .row .col-md-6 .canoeing-passion-home .number-text-h img {
    top: 93%;
    left: 5%;
  }
}
